$site_width: 650px;

@mixin border_box {
    box-sizing: border-box;
    -moz-box-sizing: border-box;
}

body {
    background: #333;
    color: #eee;
    margin: 0px;
    padding: 0px;
    font-family: 'Open Sans', sans-serif;
    font-size: 16px;
}

.header {
    background: white;
    text-align: center;
    .logo_link {
        display: inline-block;
        vertical-align: top;
        text-decoration: none;
        background: #eee;
        padding: 8px 15px;

        &:hover {
            background: darken(#eee, 5%);
        }

        img {
            display: block;
            height: 40px;
        }
    }
}

.navigation {
    @include border_box;
    line-height: 1.2;
    width: 200px;
    padding: 10px;
    border: 1px solid lighten(#333, 10%);
    border-radius: 3px;
    margin-top: 40px;

    ul, li {
        margin: 0;
        padding: 0;
        list-style: none;
    }

    li {
        margin-bottom: 10px;
        &:last-child {
            margin-bottom: 0;
        }
    }

}

.responsive_column {
    max-width: $site_width;
    padding: 0 40px;

    @media (max-width: 600px) {
        padding: 0 20px;
    }
}

p, li {
    line-height: 1.5;
}

a {
    color: #A3FF57;
    text-decoration: none;
    border-bottom: 1px dotted #A3FF57;

    &:hover {
        color: #BDFF87;
        border-bottom-color: #BDFF87;
    }
}

pre {
    background: rgba(black, 0.5);
    border-radius: 8px;
    padding: 8px;
    color: white;

    font-size: 14px;
}

p > code, li > code {
    font-size: 14px;
    background: #444;
    border-radius: 4px;
    padding: 2px 4px;
}

.footer {
    text-align: center;
    font-size: 10px;
    color: #aaa;
    margin-bottom: 100px;
}


.highlight {
    /* builtins */
    .nb, .cp {
        color: #F69385; // new
    }

    /* strings */
    .s, .s1, .s2, .se {
        color: #F1BF8E; // new
    }

    /* proper names, self */
    .nc, .vc, .bp {
        color: #99CBCA; // new
    }

    /* true, false, nil */
    .kc {
        color: #B3EFE5; // new
    }

    /* function lit, braces, parens  */
    .nf, .kt, .na {
        color: #B0D89C; // new
    }

    /* operators */
    .o, .si {
        color: #F277A1; // new
    }

    .nv {
        color: #F277A1; // new
    }

    /* keywords */
    .k, .kd, .nt {
        color: #BB84B4; // new
    }

    .c1, .c2, .c {
        color: #929292;
    }

    // numbers
    .m, .mi, .mf, .mh {
        color: #9D8FF2; // new
    }
}

.page_columns {
    text-align: center;
    .navigation, .responsive_column {
        display: inline-block;
        text-align: left;
        vertical-align: top;

        @media (max-width: 960px) {
            display: block;
            margin-left: auto;
            margin-right: auto;
        }
    }
}

